@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: outfit, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

input, textarea {
  /* border: none; */
  outline: none
}

.bg-img-hero-section{
  background-image: url('/icons/main/hero-section.png');
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 60% auto;
}
.scrollbar-hide{
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer and Edge */
  overflow: -moz-scrollbars-none; /* Webkit */
  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
};

/* In your global CSS (e.g., styles/globals.css or tailwind.css) */
.scrollbar-custom {
  scrollbar-width: thin;
  scrollbar-color: #94a3b8 transparent; /* thumb, track */
}

/* For WebKit browsers */
.scrollbar-custom::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #94a3b8; /* slate-400 */
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: content-box;
}
input select {
  border: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}